<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vlh.projet_orientation"> <!-- ✔️ Ton nouveau package -->

    <!-- 👇 Permission pour les appels réseau -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_Orientation"
        tools:targetApi="31">

        <!-- 👇 Activité principale dans le bon package -->
        <activity
            android:name=".view.ConnexionActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Et garde aussi MainActivity déclarée sans intent-filter -->
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.QuizActivity" />
        <activity android:name=".view.MesResultatsActivity" />
        <activity android:name=".view.InscriptionActivity" />


    </application>
</manifest>
